<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="kr.co.oneul.chartMapper">

	<!-- 수정필요 -->
	<select id="searchDiaryInPriv" parameterType="hashmap" resultType="DiaryVO">
		<![CDATA[
			SELECT DIARY_NO, GROUP_NO, PRIV, USERID, WEATHER, EMOTION, LOCATION, TITLE, CONTENTS, LINK, TAG, REGDATE
			FROM(
				SELECT *
				FROM(
					SELECT ROWNUM RNUM, DIARY_NO, GROUP_NO, PRIV, USERID, WEATHER, EMOTION, LOCATION, TITLE, CONTENTS, LINK, TAG, REGDATE
				    FROM(SELECT *
				    FROM(SELECT *
				    FROM(SELECT *
				    FROM(SELECT *
					FROM TB_DIARY
					WHERE USERID = #{searchDTO.userid} AND GROUP_NO IS NULL)
					WHERE TO_CHAR(REGDATE, 'YYYYMMDD') LIKE #{searchDTO.searchRegdate})
					WHERE WEATHER LIKE '%'||#{searchDTO.searchWeather}||'%')
				    WHERE EMOTION LIKE '%'||#{searchDTO.searchEmotion}||'%')
				    WHERE LOCATION LIKE '%'||#{searchDTO.searchWord}||'%' 
					OR TITLE LIKE '%'||#{searchDTO.searchWord}||'%'
					OR CONTENTS LIKE '%'||#{searchDTO.searchWord}||'%'
					ORDER BY REGDATE DESC, DIARY_NO DESC
				) TB_DIARY
			WHERE RNUM <= #{diaryCri.first}
			)
			WHERE RNUM > #{diaryCri.last}
			ORDER BY DIARY_NO DESC
		]]>	
	</select>
	
	<select id="searchDiaryInGroup" parameterType="hashmap" resultType="DiaryVO">
		<![CDATA[
			SELECT DIARY_NO, GROUP_NO, PRIV, USERID, WEATHER, EMOTION, LOCATION, TITLE, CONTENTS, LINK, TAG, REGDATE
			FROM(
				SELECT *
				FROM(
					SELECT ROWNUM RNUM, DIARY_NO, GROUP_NO, PRIV, USERID, WEATHER, EMOTION, LOCATION, TITLE, CONTENTS, LINK, TAG, REGDATE
				    FROM(SELECT *
				    FROM(SELECT *
				    FROM(SELECT *
				    FROM(SELECT *
				    FROM(SELECT *
					FROM TB_DIARY 
					WHERE GROUP_NO = #{searchDTO.group_no})
					WHERE TO_CHAR(REGDATE, 'YYYYMMDD') LIKE #{searchDTO.searchRegdate})
					WHERE WEATHER LIKE '%'||#{searchDTO.searchWeather}||'%')
				    WHERE EMOTION LIKE '%'||#{searchDTO.searchEmotion}||'%')
				    WHERE USERID LIKE '%'||#{searchDTO.userid}||'%')
				    WHERE LOCATION LIKE '%'||#{searchDTO.searchWord}||'%' 
					OR TITLE LIKE '%'||#{searchDTO.searchWord}||'%'
					OR CONTENTS LIKE '%'||#{searchDTO.searchWord}||'%'
					ORDER BY REGDATE DESC, DIARY_NO DESC
				) TB_DIARY
			WHERE RNUM <= #{diaryCri.first}
			)
			WHERE RNUM > #{diaryCri.last}
			ORDER BY DIARY_NO DESC
		]]>	
	</select>
	
	<select id="weatherChart" resultType="ChartDTO">
		<![CDATA[
			SELECT WEATHER FROM TB_DIARY
			WHERE USERID = #{ userid }
			ORDER BY WEATHER ASC
		]]>
	</select>

	<select id="emotionChart" resultType="ChartDTO">
		<![CDATA[
			SELECT EMOTION FROM TB_DIARY
			WHERE USERID = #{ userid }
			ORDER BY EMOTION ASC
		]]>
	</select>
	
	<select id="diaryChart" resultType="ChartDTO">
		<![CDATA[
			SELECT REGDATE FROM TB_DIARY
			WHERE USERID = #{ userid }
		]]>
	</select>
	
</mapper>
