<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="kr.co.oneul.faqMapper">
 	<select id="listFaq" resultType="FaqVO">
	<![CDATA[
		SELECT FAQ_NO, USERID, TITLE, CONTENTS, REGDATE
		FROM TB_FAQ
	]]>
	</select>
</mapper>